.flexcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: beige;
} 
.flexitem{
    background-color: brown;
    border: 1px solid;
    padding: 20px;
    margin:10px ;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}